<!DOCTYPE html>
<html lang="ko">
<head>
	<div th:insert="~{fragments/commonLink :: commonLink}"></div>
	<script th:src="@{/js/sub6_1.js}"></script>
	<link th:href="@{/css/sub2_1.css}" rel="stylesheet">     
    <title>접수 및 절차 안내</title>
    
    
     <script>
       $(function(){ //jQuery 시작

          
           
      }); //jQuery 종료
    </script>
    
   
</head>
<body>
    
    <div th:insert="~{fragments/header :: header}"></div>
    
    <!--서브 네비게이션-->  
	<div th:insert="~{fragments/sub2 :: sub2}"></div>
    
    <!--서브 상단 제목-->
    <div id="sub_top_t_wrap" class="row_center">
        <h3 class="sub_top_t">접수 및 절차 안내</h3>
        
        <div class="sub_top_box">
           <figure><img src="img/sub/sub_common/circle.png" alt="포인트1"></figure>
            <p>접수 및 진료시간 :<span> 평일 오전 9:30 ~ 오후 17:00 / 주말 오전 9:30 ~ 오후 16:30</span></p>
            <span class="sub2_1_top_t">※ 야간진료는 응급의료센터로 방문해주시기 바랍니다.</span>
        </div>
    </div>
    
    <div id="s2_1_con_wrap" class="row_center">
       <div class="s2_1_box">
           <div class="s2_1_box_l">
               <!--컨텐츠 아이콘-->
               <div class="i_t_all">
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 01</span><strong>진료예약</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
               </div><!--i_t_all-->
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 내원 전, 전화 및 인터넷 예약이 필요합니다.</li>
                   <li><strong>전화예약</strong> : 02-450-3664, 456-3664</li>
                   <li><strong>온라인예약</strong> : 건국대학교 부속동물병원 홈페이지 로그인 후 이용가능</li>
               </ul>
           </div>
       </div><!--s2_1_box1//////////-->
       
        <div class="s2_1_box">
           <div class="s2_1_box_l">
               <!--컨텐츠 아이콘-->
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 02</span><strong>진료접수</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 예약시간에 맞춰 방문해주세요.<span>(예약시간을 지키지 않으실 경우, 예약이 취소될 수 있습니다.</span></li>
                   <li>■ 원무행정실에서 접수를 도와드립니다.</li>
               </ul>
           </div>
       </div><!--s2_1_box2//////////-->
       
        <div class="s2_1_box">
           <div class="s2_1_box_l">
               <!--컨텐츠 아이콘-->
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 03</span><strong>진료과정</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 예약하신 과에서 담당 주치의와 상담 및 검사를 진행합니다.</li>
                   <li>■ 검사 후, 주치의 또는 담당 교수에게 결과를 듣고 치료를 진행합니다.</li>
               </ul>
           </div>
       </div><!--s2_1_box3/////////-->
       
        <div class="s2_1_box">
           <div class="s2_1_box_l">
               <!--컨텐츠 아이콘-->
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 04</span><strong>약처방</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 치료가 필요할 경우, 내복약, 외용제 등을 처방받습니다.</li>
                   <li><span>(외·내부 심장사상충 약만 필요하시면 원무과에 말씀해주세요.)</span></li>
               </ul>
           </div>
       </div><!--s2_1_box4////////////-->
       
       
        <div class="s2_1_box">
           <div class="s2_1_box_l">
              <div class="i_t_all">
               <!--컨텐츠 아이콘-->
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 05</span><strong>추후예약</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
               </div><!--i_t_all-->
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 추후 진료를 위해 주치의와 상의하여 다음 예약일정을 잡습니다.</li>
                   <li>■ 예약일정을 정한 후 원무행정실에서 진행 및 확인하실 수 있습니다.</li>
               </ul>
           </div>
       </div><!--s2_1_box5////////////-->
       
       <div class="s2_1_box">
           <div class="s2_1_box_l">
               <!--컨텐츠 아이콘-->
               <figure class="s2_1_i"></figure>
               <!--컨텐츠 텍스트-->
               <div class="s2_1_st"><span>STEP 06</span><strong>수납</strong>
               </div>
               <!--화살표 아이콘-->
               <figure class="s2_1_arrow_mb"><img src="img/sub/sub2_m_info/sub2_1/s2_1_icon.png" alt="화살표 아이콘"></figure>
               
           </div>
           
           <div class="s2_1_box_r">
               <ul>
                   <li>■ 원무행정실에서 수납을 진행합니다.<span>(반려동물 보험관련 서류 및 소견서 등 원무과에 문의해주세요.)</span></li>
              </ul>
           </div>
       </div><!--s2_1_box6////////////-->
    </div><!--s2_1_con_wrap--> 
        
          
           
         
           
               
    <div th:insert="~{fragments/footer :: footer}"></div>   
    <!--end:footer-->
</body>
</html>