<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonLink">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    
     <!-- JS -->
 	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/header_animate.js}"></script>
    <script th:src="@{/js/sub_nav.js}"></script>
   
    
     <!-- CSS -->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/ku_common.css}" rel="stylesheet">
    <link th:href="@{/css/ku_sub_common.css}" rel="stylesheet">
    

    <!-- Fonts & Icons -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Favicon -->
    <link th:href="@{/img/main/site_favicon_02.png}" rel="shortcut icon">
</head>
</html>