<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>건국대학교 부속동물병원</title>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <script src="js/jquery-3.6.0.min.js"></script> <!--제이쿼리 호출-->
    <script src="js/header_animate.js"></script>
    <script src="js/jquery.easing.1.3.js"></script> 
    <script src="js/today_close.js"></script> 
   
      
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ku_common.css">
    <link rel="stylesheet" href="dist/css/swiper.min.css">
    <link rel="stylesheet" href="css/ku_main.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="shortcut icon" href="img/main/site_favicon_02.png"/><!--파비콘-->
   <script src="js/main_slide.js"></script>
</head>
<body>
    
    <header th:fragment="header">
        <div id="header_top" class="row_center">
           <h1 id="logo">
           <a th:href="@{/}">
           <img src="img/main/main_logo.png" alt="건국대학교 부속동물병원"></a>
           </h1><!--로고-->
           
           <div id="header_right">
               <ul>
                   <li th:if="${loginMember == null}">
			            <a th:href="@{/login}">로그인</a>
			        </li>
					<li th:if="${loginMember != null}">
			            <span th:text="${loginMember.name} + '님'"></span>
			        </li>
			        <li th:if="${loginMember != null}">
			            <a th:href="@{/logout}">로그아웃</a>
			       	 </li>
                   <!-- TODO 공지사항 페이지 만들기  -->
                   <li><a href="http://jhwork.dothome.co.kr/xe/notice">공지사항</a></li>
               </ul>
           </div><!--header_right-->
           </div><!--header_top-->
           
           <div id="gnb">
               <nav id="navi" class="row_center" >
                   <ul>
                      <li><a th:href="@{/notice_schd}">
                      <span>일정/예약/조회<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/notice_schd}">진료일정 안내</a></li>
                       <li><a th:href="@{/reservation}">진료예약</a></li>
                       <li><a th:href="@{/select_reservation}">진료예약 조회</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu1-->
            
                   
                   <li><a th:href="@{/reception}"><span>진료안내<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/reception}">접수 및 절차 안내</a></li>
                       <li><a th:href="@{/admission}">입원 및 면회 안내</a></li>
                       <li><a th:href="@{/emergency}">응급진료 안내</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu2-->
                   
                   <li><a th:href="@{/internal}"><span>진료과목<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/internal}">내과</a></li>
                       <li><a th:href="@{/surgical}">외과</a></li>
                       <li><a th:href="@{/ophth}">안과</a></li>
                       <li><a th:href="@{/radiology}">영상의학과</a></li>
                       <li><a th:href="@{/pathology}">임상병리과</a></li>
                       <li><a th:href="@{/critical}">응급중환자의학과</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu3-->
                   
                   <li><a th:href="@{/internalTeam}"><span>의료진<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/internalTeam}">내과</a></li>
                       <li><a th:href="@{/surgicalTeam}">외과</a></li>
                       <li><a th:href="@{/ophthTeam}">안과</a></li>
                       <li><a th:href="@{/radiologyTeam}">영상의학과</a></li>
                       <li><a th:href="@{/pathologyTeam}">임상병리과</a></li>
                       <li><a th:href="@{/criticalTeam}">응급중환자의학과</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                   <li><a th:href="@{/history}"><span>병원소개<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/history}">연혁</a></li>
                       <li><a th:href="@{/department}">병원 조직도</a></li>
                       <li><a th:href="@{/map}">오시는 길</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                   <li><a th:href="@{/healthInfo}"><span>프로그램<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a th:href="@{/healthInfo}">반려동물 건강정보</a></li>
                       <li><a th:href="@{/bloodDonation}">헌혈 프로그램</a></li>
                       <li><a th:href="@{/fund}">발전기금 안내</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                 </ul>
               </nav>
            
               
               <div id="navi_bg"></div>
           </div><!--gnb-->
           
           <!-- 모바일 메뉴영역 -->
               <div id="mb_top_wrap">
                <div id="mb_top">
                   <h1 id="mb_logo">
                   <a href="KU_VM_TH_main.html">
                   <img src="img/main/images/mb_logo_03.png" alt="건국대학교 부속동물병원"></a>
                   </h1>
                   
                   <div id="mb_menu_icon">
                   <span class="material-icons">menu</span>
                   </div><!--m_menu-->
                   
                   <div id="mb_menu"><!--sub menu-->
                       <div id="mb_menu_top">
                       <h1 id="mb_menu_logo">
                       <a href="KU_VM_TH_main.html">
                       <img src="img/main/images/mb_logo_03.png" alt= "건국대학교 부속동물병원"></a>
                       </h1>
                       
                        <div id="close_icon">
                            <span class="material-icons">close</span>
                        </div> 
                        
                        <ul class="mb_menu_text">
                            <li>오늘도 행복한 하루 되세요!</li>
                        </ul>
                        
                        <div id="mb_menu_top_icon">
                            <div id="mb_menu_login">
                               <a href="prototype_login.html"><span class="material-icons">
                                person</span><p>로그인</p></a>
                            </div><!--mb_menu_login-->
                            
                            <div id="mb_menu_join">
                               <a href="#"><span class="material-icons">
                                   border_color</span><p>회원가입</p></a>
                            </div><!--mb_menu_join-->
                        </div><!--mb_menu_top_icon-->
                       
                       </div><!--mb_menu_top-->
                       
                       <div id="mb_menu_content">
                           <div id="mb_menu_cont_box">
                              <ul>
                                  <li><a href="KU_VM_TH_sub1_1.html">
                                  <span></span>
                                  <span>
                                      진료일정 안내
                                  </span>
                                  </a></li>
                                  <li><a href="KU_VM_TH_sub1_2.html"><span></span>
                                  <span>진료예약</span></a></li>
                                  <li><a href="KU_VM_TH_sub5_3.html"><span></span><span>오시는 길</span></a></li>
                              </ul> 
                           </div>
                       </div><!--mb_menu_content-->
                       
                       <div id="mb_menu_gnb_wrap">
                           <div id="mb_menu_gnb">
                               <!--모바일 메뉴 복제-->
                           </div><!--mb_menu_gnb-->
                       </div><!--mb_menu_gnb_wrap-->
                       
                       <div id="mb_menu_sub_wrap">
                           <div id="mb_menu_sub">
                               
                           </div>
                       </div><!--mb_menu_sub_wrap-->
                       
                   </div><!--mb_menu-->
               
               </div><!--mb_top-->
               </div><!--mb_top_wrap-->
        </header><!--end:header-->
        </body><!-- end:body -->
        </html>