<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
        <div class="1_1dr_box5"><!--임상병리과교수wrap-->    
        <div class="s1_1_box_wrap">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr9.png" alt="도선희 임상병리의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">도선희 임상병리교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>혈액검사, 혈청 생화학 검사, 세포학 검사, 요검사, 혈액응고계검사 전문의</span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td></td>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
            
          </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        </div><!--임병리과교수wrap/////////////////-->
</body>
</html>