<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
        <div class="1_1dr_box6"><!--응급중환자교수wrap-->    
        <div class="s1_1_box_wrap">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr10.png" alt="한현정 응급중환자의학과의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">한현정 응급중환자의학과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>교상, 교통사고, 위확장염전, 자궁축농증, 디스크질환, 요도결석, 독성물질, 응급처지 전문의</span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td></td>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td>     
                </tr>  
              </tbody>    
            </table>
            
          </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        </div><!--임상병리과교수wrap/////////////////-->     
</body>
</html>