<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

        <div class="1_1dr_box1"><!--내과교수wrap-->    
        <div class="s1_1_box_wrap">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr1.png" alt="김정현 내과의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">김정현 내과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>내분비·호르몬치료, 표적치료, 종양치료, 신부전증, 난치성 피부질환, 퇴행성 판막질환, 심질환교정, 심장질환, 중감염증치료, 초음파 전문치료, 혈액투석 전문치료  </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th>
                  <td></td>
                  <td></td> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                  <td></td>
                  <td></td>
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
            
            <!--<div class="view_btn">
            <h3>이력 및 논문 자세히보기</h3>
            </div>-->
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        
        <div class="s1_1_box_wrap2">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr2.png" alt="현재은 내과의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">현재은 내과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>피부·종양내과 치료전문, 신경 및 뇌종양, 고양이천식, 호흡기계 치료전문, 수의내과 전문치료 </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
            
           
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        </div><!--내과교수wrap/////////////////-->    
</body>
</html>