<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
         <div class="1_1dr_box4"><!--영상교수wrap-->    
        <div class="s1_1_box_wrap">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr7.png" alt="엄기동 영상의학의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">엄기동 영상의학교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>초음파 및 투시 검사, 조영촬영 검사 전문의 </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th>
                  <td><span class="poss">O</span></td>
                  <td></td> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td></td> 
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                 <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
            
            <!--<div class="view_btn">
            <h3>이력 및 논문 자세히보기</h3>
            </div>-->
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        
        <div class="s1_1_box_wrap2">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr8.png" alt="김재환 영상의학의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">김재환 영상의학과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>고관절 이형성 조기 진단촬영, 자기공명영상 검사, 컴퓨터 단층촬영 검사 전문의</span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td><span class="poss">O</span></td>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td></td> 
                  <td><span class="poss">O</span></td> 
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
            
           
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        </div><!--영상교수wrap/////////////////-->
</body>
</html>