<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
        <div class="1_1dr_box2"><!--외과교수wrap-->     
        <div class="s1_1_box_wrap">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr3.png" alt="정순욱 외과교수"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">정순욱 외과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>피부종양·피부화상 재건 수술, 코주름·질주름 성형, 항문외과 전문치료, 비뇨생식기외과 전문치료 </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td><span class="poss">O</span></td>    
                  <td></td>
                  <td><span class="poss">O</span></td>   
                </tr>  
              </tbody>    
            </table>
            
           
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap/////-->
        
        <div class="s1_1_box_wrap2">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr4.png" alt="김휘율 외과의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">김휘율 외과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>치과 전문치료, 안면부종·비공협착, 후두낭외반 등 안면 및 두부외과 전문치료, 정형외과 전문치료 </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td><span class="poss">O</span></td>
                  <td></td>    
                </tr>  
              </tbody>    
            </table>
           
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap-->
            
        <div class="s1_1_box_wrap2">
        <div class="left_dr_box">
        <figure><img src="img/sub/sub1_m_sch/sub1_1/sub1_dr5.png" alt="현재은 내과의사"></figure>   
        </div>
            
        <div class="right_all_box">
            <p class="dr_name">윤헌영 외과교수</p>
            <p class="dr_part"><strong>전문진료 분야</strong>
            <span>디스크질환, 척추탈골 및 골절 수술, 통증관리 및 재활, 줄기세포 치료전문, 전침치료, 복강외과 치료전문, 흉부외과 치료전문 </span></p>
            
            <table>
              <thead>
                <tr>
                 <th></th>
                 <th>월</th>
                 <th>화</th>
                 <th>수</th>
                 <th>목</th>
                 <th>금</th>
                 <th>토</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>오전</th> 
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>
                  <td></td>
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td>    
                </tr>
                  
                <tr>
                  <th>오후</th>
                  <td></td>
                  <td></td>    
                  <td><span class="poss">O</span></td>    
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td> 
                  <td><span class="poss">O</span></td>   
                </tr>  
              </tbody>    
            </table>
            
        </div><!--right_all_box-->
        </div><!--s1_1_box_wrap-->    
        </div><!--외과교수wrap/////////////--> 
           
              

</body>
</html>