<!--서브 네비게이션-->  
    <div id="con_sub_navi_wrap">
        <div id="con_sub_navi_wrap_2">   
        <div id="con_sub_navi" class="row_center">
          
           <div class="home"><a href="KU_VM_TH_main.html">홈</a>
           </div><!--home 아이콘-->
           
           <!--<nav class="gnb_navi">-->
           <ul>
               <li>
                   <a href="#">
                   <div class="arrow_btn">
                       <span class="material-icons">expand_more</span>
                   </div>
                   </a>
                   <div class="con_navi_sec">
                    <ul>
                        <li><a href="#">일정/예약/조회</a></li>
                        <li><a href="#">진료안내</a></li>
                        <li><a href="#">진료과목</a></li>
                        <li><a href="#">의료진</a></li>
                        <li><a href="#">병원소개</a></li>
                        <li><a href="#">프로그램</a></li>
                    </ul>   
                   </div>
               </li>
            <!-- </nav>gnb_navi-->
            </ul>
           
       
        </div><!--sub_navi-->
        </div>
    </div><!--sub_navi_wrap//////////////////-->
    