<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <script src="http://jhwork.dothome.co.kr/1_KU_VM_TH/js/jquery-3.6.0.min.js"></script> 
    <!--제이쿼리 호출-->
    <script src="http://jhwork.dothome.co.kr/1_KU_VM_TH/js/header_animate.js"></script>
    <script src="http://jhwork.dothome.co.kr/1_KU_VM_TH/js/sub_nav.js"></script>
     <script>
       $(function(){ //jQuery 시작

          
           
      }); //jQuery 종료
    </script>
    
    <link rel="stylesheet" href="http://jhwork.dothome.co.kr/1_KU_VM_TH/css/reset.css">
    <link rel="stylesheet" href="http://jhwork.dothome.co.kr/1_KU_VM_TH/css/ku_common.css">
    <link rel="stylesheet" href="http://jhwork.dothome.co.kr/1_KU_VM_TH/css/ku_sub_common.css">
    <link rel="stylesheet" href="http://jhwork.dothome.co.kr/1_KU_VM_TH/css/sub_notice.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="shortcut icon" href="http://jhwork.dothome.co.kr/1_KU_VM_TH/img/main/site_favicon_02.png"/><!--파비콘-->
   
</head>
<body>
      <header>
        <div id="header_top" class="row_center">
           <h1 id="logo"><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_main.html"><img src="http://jhwork.dothome.co.kr/1_KU_VM_TH/img/main/main_logo.png" alt="건국대학교 부속동물병원"></a>
           </h1><!--로고-->
           
           <div id="header_right">
               <ul>
                   <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/prototype_login.html">로그인</a></li>
                   <li><a href="http://jhwork.dothome.co.kr/xe/notice">공지사항</a></li>
               </ul>
           </div><!--header_right-->
           </div><!--header_top-->
           
           <div id="gnb">
               <nav id="navi" class="row_center" >
                   <ul>
                      <li><a href="#">
                      <span>일정/예약/조회<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub1_3.html">진료일정 안내</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub1_3.html">진료예약</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub1_3.html">진료예약 조회</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu1-->
            
                   
                   <li><a href="#"><span>진료안내<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub2_1.html">접수 및 절차 안내</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub2_2.html">입원 및 면회 안내</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub2_3.html">응급진료 안내</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu2-->
                   
                   <li><a href="#"><span>진료과목<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">내과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">외과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">안과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">영상의학과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">임상병리과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub3_1.html">응급중환자의학과</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu3-->
                   
                   <li><a href="#"><span>의료진<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">내과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">외과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">안과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">영상의학과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">임상병리과</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub4_1.html">응급중환자의학과</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                   <li><a href="#"><span>병원소개<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub5_3.html">연혁</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub5_3.html">병원 조직도</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub5_3.html">오시는 길</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                   <li><a href="#"><span>프로그램<strong></strong></span></a>
                      
                      <div class="navi_sec">
                      <ul>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub6_1.html">반려동물 건강정보</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub6_1.html">헌혈 프로그램</a></li>
                       <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub6_1.html">발전기금 안내</a></li>
                      </ul>
                   </div><!--navi_sec--> 
                   </li><!--menu4-->
                   
                 </ul>
               </nav>
            
               
               <div id="navi_bg"></div>
           </div><!--gnb-->
           
           <!-- 모바일 메뉴영역 -->
               <div id="mb_top_wrap">
                <div id="mb_top">
                   <h1 id="mb_logo">
                   <a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_main.html">
                   <img src="http://jhwork.dothome.co.kr/1_KU_VM_TH/img/main/images/mb_logo_03.png" alt="건국대학교 부속동물병원"></a>
                   </h1>
                   
                   <div id="mb_menu_icon">
                   <span class="material-icons">menu</span>
                   </div><!--m_menu-->
                   
                   <div id="mb_menu"><!--sub menu-->
                       <div id="mb_menu_top">
                       <h1 id="mb_menu_logo">
                       <a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_main.html">
                       <img src="http://jhwork.dothome.co.kr/1_KU_VM_TH/img/main/images/mb_logo_03.png" alt= "건국대학교 부속동물병원"></a>
                       </h1>
                       
                        <div id="close_icon">
                            <span class="material-icons">close</span>
                        </div> 
                        
                        <ul class="mb_menu_text">
                            <li>오늘도 행복한 하루 되세요!</li>
                        </ul>
                        
                        <div id="mb_menu_top_icon">
                            <div id="mb_menu_login">
                               <a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/login/prototype_login.html"><span class="material-icons">
                                person</span><p>로그인</p></a>
                            </div><!--mb_menu_login-->
                            
                            <div id="mb_menu_join">
                               <a href="#"><span class="material-icons">
                                   border_color</span><p>회원가입</p></a>
                            </div><!--mb_menu_join-->
                        </div><!--mb_menu_top_icon-->
                       
                       </div><!--mb_menu_top-->
                       
                       <div id="mb_menu_content">
                           <div id="mb_menu_cont_box">
                              <ul>
                                  <li><a href="#">
                                  <span></span>
                                  <span>
                                      진료일정 안내
                                  </span>
                                  </a></li>
                                  <li><a href="#"><span></span>
                                  <span>진료예약</span></a></li>
                                  <li><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_sub5_3.html"><span></span><span>오시는 길</span></a></li>
                              </ul> 
                           </div>
                       </div><!--mb_menu_content-->
                       
                       <div id="mb_menu_gnb_wrap">
                           <div id="mb_menu_gnb">
                               <!--모바일 메뉴 복제-->
                           </div><!--mb_menu_gnb-->
                       </div><!--mb_menu_gnb_wrap-->
                       
                       <div id="mb_menu_sub_wrap">
                           <div id="mb_menu_sub">
                               
                           </div>
                       </div><!--mb_menu_sub_wrap-->
                       
                   </div><!--mb_menu-->
               
               </div><!--mb_top-->
               </div><!--mb_top_wrap-->
        </header><!--end:header-->
      
    <!--서브 대메뉴 배경-->
    <div id="con_sub6_1_top_bg">
         <div id="sub6_1_top_bg"><img src="http://jhwork.dothome.co.kr/1_KU_VM_TH/img/sub/notice/images/notice_img.png"
                                      alt="공지사항">
         <h3>공지사항</h3>
         </div><!--sub_img-->
    </div><!--con_sub6_1_top_bg--> <!--상단이미지-->
    
    <!--서브 네비게이션-->  
    <div id="con_sub_navi_wrap">
        <div id="con_sub_navi_wrap_2">   
        <div id="con_sub_navi" class="row_center">
          
           <div class="home"><a href="http://jhwork.dothome.co.kr/1_KU_VM_TH/KU_VM_TH_main.html">홈</a>
           </div><!--home 아이콘-->
           
           <!--<nav class="gnb_navi">-->
           <ul>
               <li>
                   <a href="#">건국대학교 부속동물병원
                   <div class="arrow_btn">
                       <span class="material-icons">expand_more</span>
                   </div>
                   </a>
                   <div class="con_navi_sec">
                    <ul>
                        <li><a href="#">일정/예약/조회</a></li>
                        <li><a href="#">진료안내</a></li>
                        <li><a href="#">진료과목</a></li>
                        <li><a href="#">의료진</a></li>
                        <li><a href="#">병원소개</a></li>
                        <li><a href="#">프로그램</a></li>
                    </ul>   
                   </div>
               </li>
            <!-- </nav>gnb_navi-->
           
            <!--<nav class="sub_navi">-->
               <li><a href="#">공지사항</a></li>
           </ul>
           <!--</nav>sub_navi-->
       
        </div><!--sub_navi-->
        </div>
    </div><!--sub_navi_wrap//////////////////-->
    
    <!--공지사항_content-->
    <div id="notice_con_wrap" class="row_center">
    {$content}
    
    </div><!--notice_con_wrap-->
           
          
           
         
           
               
        
  <footer>
        <div id="footer_top">
            <nav id="footer_info" class="row_center">
                <ul>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li class="footer_mb"><a href="#">관리자 로그인</a></li>
                </ul>
            </nav>
        </div><!--"footer_top"-->
        
        <div id="footer_bottom">
           <div id="footer_bm_info" class="row_center">
           <ul>
               <li>상호명 : 건국대학교</li>
               <li>주소 : 서울 광진구 능동로 120 건국대학교 수의학관</li>
               <li>전화번호:02-450-3664</li>
               <li>대표자:전영재</li>
               <li>사업자등록번호:207-82-00062</li>
           </ul>
            <p>COPTRIGHT2017~2021 ALL RIGHT RESERVED</p>
            </div>
            
            <div id="footer_bm_info_mb" class="row_center">
           <ul>
               <li>상호명 : 건국대학교</li>
               <li>주소 : 서울 광진구 능동로 120 건국대학교 수의학관</li>
               <li>전화번호 : 02-450-3664</li>
               <li>대표자:전영재</li>
               <li>사업자등록번호 : 207-82-00062</li>
               <li>COPTRIGHT2017~2021 ALL RIGHT RESERVED</li>
           </ul>
            </div>
        </div><!--"footer_bottom"-->
    </footer>
</body>
</html>