<!DOCTYPE html>
<html lang="ko">
<head>
	<div th:insert="~{fragments/commonLink :: commonLink}"></div>
	<script th:src="@{/js/sub6_1.js}"></script>
	<link th:href="@{/css/sub6_1.css}" rel="stylesheet">   
    <title>반려동물 건강정보</title>

     <script>
       $(function(){ //jQuery 시작

          
           
      }); //jQuery 종료
    </script>

   
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <!--서브 네비게이션-->  
	<div th:insert="~{fragments/sub6 :: sub6}"></div>
    
    <!--서브 상단 제목-->
    <div id="sub_top_t_wrap" class="row_center">
        <h3 class="sub_top_t">반려동물 건강정보</h3>
        
        <div class="sub_top_box">
           <figure><img src="img/sub/sub_common/circle.png" alt="포인트1"></figure>
            <p>다양하고 유익한 반려동물의 건강정보를 확인하실 수 있습니다.</p>
        </div>
    </div>
    
    <div id="s6_1_con_wrap" class="row_center">
       
       <div id="s6_1_con1">
        <ul>
        <li><div class="img_txt">
         <a href="#"> 
             <div class="trans"><img src="img/sub/sub6_program/sub6_1/s6_c1.png" alt="2021년 광견병 예방접종"></div>
         <div class="description">
         <strong>2021년 광견병 예방접종 안내</strong>
         <time datetime="2021-02-22">2021-02-22</time>
         </div>
         </a>
         </div>   
         </li>
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c2.png" alt="36마리의 헌혈영웅을 찾습니다"></div>
         <div class="description">
         <strong>36마리의 헌혈영웅을 찾습니다!</strong>
         <time datetime="2021-02-08">2021-02-08</time>
         </div>
         </a>
          </div>   
        </li>
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c3.png" alt="반려동물 코로나19 궁금증에 답하다"></div>
         <div class="description">
         <strong>반려동물 코로나19 궁금증에 답하다</strong>
         <time datetime="2021-02-05">2021-02-05</time>
         </div>
         </a>
          </div>   
        </li>
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c4.png" alt="반려동물 코로나19 검사 및 격리조치 안내"></div>
         <div class="description">
         <strong>반려동물 코로나19 검사 및 격리조치 안내</strong>
         <time datetime="2021-01-25">2021-01-25</time>
         </div>
         </a>
          </div>   
        </li>
        
         <li><div class="img_txt">
         <a href="#">
         <div class="trans">
             <img src="img/sub/sub6_program/sub6_1/s6_c5.png" alt="심장사상충 검사 필요해요"></div>
         <div class="description">
         <strong>심장사상충 검사 필요해요</strong>
         <time datetime="2021-01-18">2021-01-18</time>
         </div>
         </a>
          </div>   
        </li>
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c6.png" alt="슬개골탈구 단계별 증상"></div>
         <div class="description">
         <strong>슬개골탈구 단계별 증상</strong>
         <time datetime="2021-01-04">2021-01-04</time>
         </div>
         </a>
          </div>   
        </li>                                                 
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c7.png" alt="강아지 하울링하는 이유"></div>
         <div class="description">
         <strong>강아지 하울링하는 이유</strong>
         <time datetime="2021-01-04">2021-01-04</time>
         </div>
         </a>
          </div>   
        </li>                        
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c8.png" alt="강아지 복명음 이유"></div>
         <div class="description">
         <strong>강아지 복명음 이유</strong>
         <time datetime="2021-01-04">2020-12-28</time>
         </div>
         </a>
          </div>   
        </li>
        
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c9.png" alt="강아지 양치질 가이드"></div>
         <div class="description">
         <strong>강아지 양치질 가이드</strong>
         <time datetime="2021-01-04">2020-12-22</time>
         </div>
         </a>
          </div>   
        </li>                                                           
        <li><div class="img_txt">
        <a href="#">
        <div class="trans">
            <img src="img/sub/sub6_program/sub6_1/s6_c10.png" alt="강아지 구강호흡 원인"></div>
         <div class="description">
         <strong>강아지 구강호흡 원인</strong>
         <time datetime="2021-01-04">2020-11-23</time>
         </div>
         </a>
          </div>   
        </li>           
        </ul>
        </div><!--s6_1_con1-->
        
           <div id="s6_1_btn">
             <span><a href="#">더보기</a></span>
          </div>  
          
          <div id="s6_2_btn">
             <span><a href="#">접기</a></span>
          </div>  
    </div><!--s6_1_con_wrap--> 
        
          
           
         
           
               
    <? include 'footer.html' ?>    
    <!--end:footer-->
</body>
</html>