<!DOCTYPE html>
<html lang="ko">
<head>
    <div th:insert="~{fragments/commonLink :: commonLink}"></div>
    <link th:href="@{/css/sub4_1.css}" rel="stylesheet">     
    <title>의료진 소개-내과</title>
     <script>
       $(function(){ //jQuery 시작

          
           
      }); //jQuery 종료
    </script>
   
</head>
<body>
     <div th:insert="~{fragments/header :: header}"></div>
      
    <!--서브 대메뉴 배경-->

    
    <!--서브 네비게이션-->  

    <div th:insert="~{fragments/sub4 :: sub4}"></div>
    <!--서브 상단 제목-->
    <div id="sub_top_t_wrap" class="row_center">
        <h3 class="sub_top_t">의료진 소개</h3>
        
        <div class="sub_top_box">
           <figure><img src="img/sub/sub_common/circle.png" alt="포인트1"></figure>
            <p>건국대학교 부속동물병원을 찾아주신 보호자 여러분께 감사의 말씀과 환영의 인사를 드립니다.<br>여러분의 반려동물의 건강 및 복지와 가족 모두의 행복을 기원합니다.</p>
        </div>
    </div>
    
    <!--의료진소개_sub4_1_content-->
    <div id="s4_1_con_wrap" class="row_center">
       <!--내과전문의 타이틀-->
       <div class="s4_1_con_title">
       <span></span>
       <h3>내과전문의</h3>
       </div>
        
       <div class="s4_1_con_top_wrap1">
           <div id="s4_1_left">
           <figure class="s4_1_img1">
           <img src="img/sub/sub4_dr/sub4_1/sub4_dr1.png" alt="김정현 내과교수">
           </figure>
           </div>
           
           <div class="s4_1_con_box">
               
               <div class="s4_1_txt_all">
               <div class="s4_1_con_t">
                   <p>내과교수</p>
                   <strong>김정현</strong>
                   <span>(junghyun@konkuk.ac.kr)</span>
               </div>
               
               <div class="s4_1_con_txt1">
                   <ul>
                       <li>건국대학교 수의과대학 수의학과 학사 및 석박사 (2006-2012)</li>
                       <li>건국대학교 부속동물병원 인턴 및 레지던트 수료 (2006-2010)</li>
                       <li>건국대학교 부속동물병원 선임 수의사 (2010-2011)</li>
                       <li>건국대학교 수의과대학 시간강사 (2008-현재)</li>
                       <li>대구 동물메디컬센터 내과 원장 (2012-2014)</li>
                       <li>건국대학교 부속동물병원 내과 임상전담교수 (2014-2019)</li>
                       <li>건국대학교 수의과대학 수의내과학 교수(2019-현재)</li>
                   </ul>
                   
                 </div><!--s4_1_con_txt-->
               </div>
            </div><!--s4_1_con_box-->
       </div><!--4s_1_con_top_wrap-->
          
        <div class="s4_1_con_top_wrap2">
         <div id="s4_1_left_2">
           <figure class="s4_1_img2">
           <img src="img/sub/sub4_dr/sub4_1/sub4_dr2.png" alt="현재은 내과교수">
           </figure>
           </div>
           
           <div class="s4_1_con_box">
               
               <div class="s4_1_txt_all">
               <div class="s4_1_con_t">
                   <p>내과교수</p>
                   <strong>현재은</strong>
                   <span>(jaeeunhyun@konkuk.ac.kr)</span>
               </div>
               
               <div class="s4_1_con_txt2">
                   <ul>
                       <li>국립경상대학교 수의과대학 학사</li>
                       <li>서울대학교 수의과대학 석,박사 (수의피부과학 전공)</li>
                       <li>서울대학교 수의과대학 동물병원 수련수의사, 전임수의사</li>
                       <li>North Carolina State University Veterinary Hospital Externship</li>
                       <li>본동물의료센터 내과, 피부과 과장</li>
                       <li>서울시 야생동물구조관리센터 자문수의사</li>
                       <li>아시아 수의피부전문의</li>
                       <li>건국대학교 부속동물병원 내과 전담 교수</li>
                   </ul>
                   
               </div><!--s4_1_con_txt-->
                </div>
               
               
           </div>
       </div><!--4s_1_con_top_wrap-->                                
           
    </div><!--s4_1_con_wrap--> 
        
          
           
         
           
               
        
     <div th:insert="~{fragments/footer :: footer}"></div>   
</body>
</html>